@import url(reset.css);
/*Estilos Generales*/
body {
	background:#2d2d2d;
	font-family:Arial, Helvetica, Sans-serif;
	list-style:none;
}
 
a {
   text-decoration:none; 
   color:#fff;
   
}

 
#wrap {
	width:960px;
	margin:auto;
	clear:both;
}
/*header*/
header{
    width: 100%;
    float:left;
    background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(228,224,224,1) 0%);
	box-shadow:0px 5px 5px #000;
		-moz-box-shadow:0px 5px 5px #000;
		-webkit-box-shadow:0px 5px 5px #000;
}

#subheader{
    width: 960px;
    margin: auto;
}
 #logotipo a{
     font-family: Arial, Helvetica, sans-serif;
     font-size: 50px;
     color:#000;
 }
 #logotipo{
     float: left;
     width: 275px;
     padding: 10px;

 }
 
 /*Menu*/
header #subheader nav {
    margin:auto;
    float:left;
	width:660px;
	padding:30px 0px;
    text-align:right;
    
}
 
header #subheader nav ul li {
	display:inline;
}
 
header #subheader nav ul li a {
	color:#000;
	font-size:18px;
    padding:10px;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
}
 
header #subheader nav ul li a:hover {
	color:#fff;
	background:#2117af;
	text-decoration:none;
}
/*--- MAIN ---*/
#main {
	width:100%;
	margin:20px 0px 0px 0px;
	float:left;
}
/*Slideshow*/
#slideshow {
	width:920px;
	height:375px;
	float:left;
	background:#000;
	border:solid 20px #fff;
	margin-bottom:10px;
}
 #slideshow .pagination ul li{
	 float:left;
	 margin:0px 5px;
 }
#slideshow .pagination {
	margin:26px auto;
	width:100px;
}
 
#slideshow .pagination li {
	float:left;
	margin:0px 5px;
	list-style:none;
}
 
#slideshow img {
	width:920px;
	height:375px;
}
 
#slideshow .pagination li a {
	display:block;
	width:12px;
	height:0px;
	padding-top:12px;
	background:#fff;
	float:left;
	overflow:hidden;
	border-radius:10px;
		-moz-border-radius:10px;
		-webkit-border-radius:10px;
}
 
#slideshow .pagination li.current a {
	background:#2117af;
}
 /*Bienvenidos*/
#bienvenidos {
	width:920px;
	float:left;
	padding:20px;
	background: rgb(97,94,249);
background: linear-gradient(180deg, rgba(97,94,249,1) 0%, rgba(75,75,110,1) 0%);
margin:20px 0px;
	border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
	box-shadow:0px 5px 5px #000;
		-moz-box-shadow:0px 5px 5px #000;
		-webkit-box-shadow:0px 5px 5px #000;
}
#bienvenidos article h3 {
	color:#fff;
	font-size:30px;
	margin-bottom:10px;
}
 
#bienvenidos article {
	color:#fff;
	line-height:27px;
}
 
/*---CONTENIDO---*/
#contenido {
	width:700px;
	float:left;
	
}
 
#contenido article {
	float:left;
	margin-bottom:20px;
}
 
#contenido article .titulo {
	font-size:22px;
	color:#fff;
}
 
#contenido article .fecha {
	font-size:14px;
	color:#1798af;
	margin-bottom:5px;
}
 
#contenido article .thumb {
	width:250px;
	height:170px;
	float:left;
	margin:0px 10px 10px 0px;
}
 
#contenido article > p {
	color:#fff;
	font-size:14px;
	text-align:justify;
}	
/*---Sidebar---*/
aside {
	width:220px;
	float:left;
	margin-left:20px;
	margin-top: 20px;
    background: rgb(97,94,249);
	background: linear-gradient(180deg, rgba(97,94,249,1) 0%, rgba(75,75,110,1) 0%);
	padding:10px 10px 0px 10px;
	border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
	box-shadow:0px 5px 5px #000;
		-moz-box-shadow:0px 5px 5px #000;	
		-webkit-box-shadow:0px 5px 5px #000;
}
 
aside .widget {
	margin-bottom:10px;
	float:left;
}
 
aside .widget > h3 {
	background:#fff;
	color:#2117af;
	width:220px;
	padding:10px 0px;
	text-align:center;
	font-weight:bold;
	margin-bottom:10px;
}
 
aside .widget a {color:#fff;}
aside .widget ul li {margin-bottom:5px;}
aside .widget img {width:220px;}
/*Footer*/
footer {
	width:100%;
	float:left;
	clear:both;
	box-shadow:0px 2px 2px #000;
		-moz-box-shadow:0px 2px 2px #000;
		-webkit-box-shadow:0px 2px 2px #000;
	border-radius:5px;
		-moz-border-radius:5px;	
		-webkit-border-radius:5px;
		background: rgb(97,94,249);
		background: linear-gradient(180deg, rgba(97,94,249,1) 0%, rgba(75,75,110,1) 0%);
	}
 
footer section {
	width:440px;
	float:left;
	padding:20px;
}
 
footer #acerca-de {
	font-family:Arial, Helvetica, Sans-serif;
	font-size:12px;
	color:#8c8c8c;
	text-align:justify;
	line-height:20px;
}
 
footer #acerca-de h3 {
	font-family:sourcesans-light;
	font-size:20px;
	color:#fff;
	margin-bottom:5px;
}
 


 #redes-s h4{
	 margin-left:5px;
	 color:#fff;
	 display:block;
 }


#copyright {
	float:left;
	width:960px;
	margin:10px 0px;
}
 
#copyright p {
	text-align:center;
	font-size:12px;
	color:#fff;
	font-family:Arial, Helvetica, Sans-serif;
}